/* ---------------------------RESET CSS------------------------------------ */
/* ********Réinitialiser les marges et les paddings****************** */
*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *****Définir une police de base et une taille de police cohérente***** */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

/* **********Réinitialiser les styles spécifiques*********** */
h1,h2, h3, h4, h5, h6 {   /* Enlever les tailles spécifiques par défaut */
    font-size: 100%;
    font-weight: normal;
}

ul,ol {
    list-style: none;  /* Supprimer les puces par défaut */
}

a {  /* Enlever le soulignement et la couleur par défaut des liens */
    text-decoration: none;
    color: inherit;
}

input,button,textarea,select { /* ***Réinitialiser les styles des formulaires******** */
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
}

input,textarea {  
    outline: none;/* Enlever les contours par défaut */  
}

button {
    cursor: pointer; /* S'assurer que le curseur est une main sur les boutons */ 
}

img,picture,video,canvas,svg {  /* corriger l’affichage des images */  
    display: block;
    max-width: 100%;
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-weight: 600;
    font-weight: 800;
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
        url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype"),
        url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
        url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
        url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    font-weight: 600;
    font-weight: 800;
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype"),
        url("../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype"),
        url("../fonts/Open_Sans/OFL.txt") format("opentype");
}

/*------------------------- GENERAL-------------------------*/
body {
    font-family: 'OpenSans';
    background-color:rgba(169, 164, 164, 0.5);
}

h1 {
    font-family: 'Roboto', regular;
    font-size: 3rem;
}

h2,h3 {
    font-family: 'Roboto', regular;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}
h5{
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

/* ---Pour les images de fond d'ecran de chaque page-------- */

/* Style de base pour la section */

.titre-page{
    text-align: center;
    padding-top: 150px;
    background-color:  #0F1D2B;
    opacity: 0.8;
}
.titre-page h1{
   color: #f4a723;
   font-size: 45px; 
   animation: blink 2s step-end infinite; /* Animation clignotante */  
}
/* Définition de l'animation blink */
@keyframes blink {
    0% {
      opacity: 1; /* Le texte est visible au début */
    }
    50% {
      opacity: 0; /* Le texte devient invisible à mi-temps */
    }
    100% {
      opacity: 1; /* Le texte redevient visible à la fin */
    }
  }
     
  /* Animation du texte défilant */
  /*
  .titreRealisation{ 
    animation: scroll-text 8s linear infinite; 
  }
  
   /* Animation pour faire défiler le texte */
@keyframes scroll-text {
    0% {
      transform: translateX(100%); /* Débute à droite de l'écran */
    }
    100% {
      transform: translateX(-100%); /* Finit à gauche de l'écran */
    }
  }
  
   /*-------faire clgnoter les prix---------*/
 @keyframes flash {
    0% { color: #ff0000; } /* Couleur rouge au début */
    50% { color: #536053; } /* Couleur verte au milieu */
    100% { color: #f4a723; } /* Couleur rouge à la fin */
  }
  
  .flash {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
  }
  .flash {
    animation: flash 1s infinite; /* Applique l'animation en boucle infinie toutes les 1 seconde */
  }
/* --------------Page Accueil------------------ */
/* --------------------Avis de nos clients------------------- */
.nosClients {
    background-image: url("../img/photo_fond_nos-clients_disent.jpg");
    background-size: cover;
}

/* --------------------------Header------------------------ */
/* ***********************LA BARRE DE NAVIGATION ET LE LOGO*********** */
header {
    background-color: #f4a723;
    color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
#logo img {
    width: 150px;
    padding-left: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Menu burger */

.menu {   /* Style du menu ul */
    display: flex;
    list-style-type: none;
    margin-left: auto;
}
.menu li {
    padding: 0 15px;
}
.menu li a {
    text-decoration: none;
    color: rgb(23, 22, 22);
    font-size: 20px;
    margin-right: 40px;
    border-radius: 15px;
}

#bnt_reserver { 
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 2px;
    height: 35px;
}
#bnt_reserver:hover {
    background-color: #f4a723;
    border-radius: 15px;
}

/*-----------section about sur la page d'accueil--------------*/
/* ----------------Section About------------ */
.about-section {
    padding: 50px;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 0;
}
.about-image {
    flex: 1 1 45%;
}
.about-image img {
    width: 100%;
    /*height: 50%;*/
    border-radius: 10px;
    object-fit: cover;
}
.about-content {
    flex: 1 1 40%;
    text-align: left;
}
.about-content h2 {
    font-size: 2.5rem;
    color: black;
    
    text-align: center; 
}
.about-content h2 span {
    color: black;
    font-family: cursive;
     margin-bottom: 0;
}
.about-content p {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    text-align: justify; 
   
}
.about-content button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about-content button:hover {
    background-color: #f4a723;
}
/* -----------------------Explorer nos univers(expérience )------------ */
.Nos_services{
    border-radius: 8px;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}

.Nos_services h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.Nos_services p {
    font-size: 20px;
    font-family: 'OpenSans';
    color: #333;
    line-height: 1.8;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

/* ------------NOS SERVIVES------------------ */
h3 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
    padding: 20px;
}

.buttons, .btn  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}

.buttons button, .btn {
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.buttons button, .btn:hover {
    background-color: #f4a723;
}

/*----------NOUS CHOISIRE-----------------------*/
.NousChoisire h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.NousChoisire ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: justify;
}

.NousChoisire ul li {
    font-size: 16px;
    margin-bottom: 10px;
}
/*------------NOS REALISATION------------------------ */
.titreRealisation {
    margin-top: 20px;
    text-align: center;
}

.titreRealisation h3 {
    font-size: 24px;
}

.realisation-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.realisation-images img {
    width: 90%;
    height: auto;
    border-radius: 8px;
}

/*-----------------------Carrousel--------------------------------*/

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-left: 90px;
    margin-right: 90px;
}

.carousel-column {
    width: 100%;   
}

.carousel {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.slide {
    flex: 1 0 100%;
    height: 100%;
   
}

.slide img {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

#slide1:checked ~ .carousel-inner {
    transform: translateX(0);
}

#slide2:checked ~ .carousel-inner {
    transform: translateX(-100%);
}

#slide3:checked ~ .carousel-inner {
    transform: translateX(-200%);
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;  
}
.carousel-column h3{
    text-align: center;
}
.carousel-controls label {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.carousel-controls label:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 5px; 
}

.carousel-dots label {
    width: 10px;
    height: 10px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    cursor: pointer;
}

.prev, .next{
    color: white;
    background-color: black; 
    width: 30px;
    height: 30px;
}
/*---------------------text(h et p)------------------------------*/
.realisation p {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
}

.realisation-button button {
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.realisation-button button:hover {
    background-color: #f4a723;
}

/**-----------LES AVIS DE NOS CLIENTS----------------------- */
.nosClients {
    padding: 10px;
}

.TitreAvis {
    text-align: center;
}

.avisClients-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;   
}

.avisClient {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;
    text-align: left;
}

.avisClient p  {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.avisClient strong {
    font-size: 16px;
}

/* --------------------POUR NOUS VISITER  --------------------- */
.titreVisite h3 {
    font-size: 24px;
}

/* Section adresse */
.adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 20px;
}

.adress a img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}

.adress p {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}

.adress p span {
    font-weight: bold;
    color:#333;
}
.zone-meteo h3{
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.zone-meteo {
    text-align: center;
    padding-bottom: 0;
    opacity: 0.8;
    width: 100%;
  }
 #meteo{
    background-color:  #0F1D2B;
 }
#meteo p {
    font-size: 18px;
    margin: 0;
    color: #ffffff;
}
/*------------------page à propos-------*/

.personel-salon h2, .Presentation_salon h2 {
    text-align: center;
    width: 100%;
}
.personel-salon p, .Presentation_salon p {
  text-align: justify;

}
.Presentation_salon, .personel-salon{
    max-width: 100%;
}

/*------------------FORMULAIRE DE CONTACT------------------*/

.contact-form {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input, select, textarea {
   width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
  }
  
  .form-group-consent, .form-group-civility {
    display: flex;
    align-items:center; /* Aligne verticalement la case à cocher et le texte */
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .form-group-consent input[type="radio"] + label,
  .form-group-civility input[type="radio"] + label{
    margin-left: 10px;
  }

  input[type="radio"] + label{
    margin-left: 0;
    padding-left: 0;
  }
  
  .form-group-consent label {
    font-size: 0.7rem; 
    line-height: 1.4;  
    padding-left: 20px;
  }
  .civility{
    margin-bottom: 10px;
  }
  #mr{
    margin-left: 10px;
  }
  legend{
    margin-left: 20px;
  }
/* -----------------------Footer général------------ */
footer {
    background-color: #f4a723;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.footer-container h3 {
    color: black;
    font-family: 'Roboto';
    font-size: 2rem;
}

.footer-container div {
    flex: 1;
    min-width: 200px;
}

.footer-logo p {
    text-align: center;
   margin: 0;
   padding: 0;
    font-size: 18px;
}

.footer-logo img {
    max-width: 150px;
    display: block;   /* Assure que l'image est un élément de bloc */
    margin-left: auto;
    margin-right: auto;
}
.footer-links ul,.footer-legal ul,.footer-social ul,.footer-contact ul {
    list-style: none;
    padding: 0;
}
.footer-links h3,.footer-legal h3,.footer-social h3,.footer-contact h3 {
   font-size: 20px;
   padding: 0;
   margin: 0;
   text-decoration: underline;
   text-decoration-thickness: 3px;
}

.footer-links ul li,.footer-legal ul li,.footer-social ul li,.footer-contact ul li {
    margin: 10px 0;

}

.footer-links a,.footer-legal a,.footer-social a,.footer-contact a {
    text-decoration: none;
    color: black;
}
.footer-contact button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.footer-contact button a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}
.mention_legale{
    padding: 50px;
    
}
.mention_legale h3{
    text-align: center;
    padding: 0;
    margin: 0;
}
.mention_legale p{
    text-align: justify;
    font-size: 14px;
    color: #333;
}

.mention_legale ul{
    list-style: disc;
}

/*----------MEDIA QUERY POUR LE FORMAT TABLETTE MODE(PORTRAIT ET PAYSAGE) COMBINER------------------*/

@media screen and (max-width: 1059px) {
    #navbar {
        flex-direction: row;
        align-items: flex-start;
        height: 110px;
    }

    .menu {
        width: 100%;
        flex-direction: column;
        display: block;
    }

    .menu li {
        width: 100%;
        padding: 10px;  
    }
    .menu li a{
        font-size: 30px;
        padding: 0;  
        margin-left: 70px;
    }

    .bi-house, .bi-file-person-fill, .bi-tools, .bi-telephone-fill{
        margin-right: 10px;
    }
    /*------------ MENU BURGER --------------*/
    /* Sidenav menu */
    
 .sidenav {
    height: 400px;
    width: 1250px;
    top: 0;
    left: 100%; /* Positionne l'élément à 100% de la largeur de l'écran */
    background-color: #f4a723;
    padding-top: 70px;
    transition: left 0.5s ease;
    position: fixed;
    z-index: 1000;
  }
     
  
  /* liens menu Sidenav */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  #bnt_reserver{
    background-color: #0a0a0a;
    font-size: 24px; 
   padding-left: 0;
    margin-left:90px;
    padding-top: 0;
    }
  
  #bnt_reserver a{
    font-size: 24px;
    color: white;
    justify-content: center;
    text-align: justify;
  }

  #bnt_reserver:hover {
    background-color: #f4a723;
 }

  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* btn de fermeture */
  .sidenav .close {
    position: absolute;
    font-size: 36px;
    left: 0px;
    top: 10px;
    width: 25%;
  }
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px;
  }
  .burger{
    margin-top: 35px;
    margin-right: 50px;
  }

  .about-image img{
    max-height: 800px;
    
  }
  /**----les H5 qui gerent les prix*/
 h5{
    text-align: center;
 }
  
  /*-------------la page à propos------------------*/
    .personel-salon {
        flex-direction: column;
    }

    .personel-salon p, h2 {
        object-fit: contain;
    }
    .presentation_gauche h3{
        text-align: center;
    }

    .about-section{
        padding: 0;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-container div {
        margin-bottom: 20px;
        min-width: 100%;
        margin: 0;
        max-height: 40%;
    }

    .footer-logo img {
        max-width: 150px;
        padding-top: 15px;
    }

    #logo img {
        max-width: 150px;
        padding-top: 15px;
    }

    
    .footer-social h3, .footer-contact h3, .footer-legal h3, .footer-links h3 {
        padding: 0;
       margin-bottom: 0;
    }

    .footer-social ul li, .footer-contact ul li, .footer-legal ul li, .footer-links ul li {
        padding: 0;
       margin: 0;
    }

    .footer-logo p{
        padding: 0;
        margin: 0;
        
    }

    .footer-contact button {
        border-radius: 15px;
        /*width: 40%;*/
    }

    .footer-bottom {
        font-size: 12px;
        color: white;
        text-align: center;
    }
    .footer-bottom p {
        font-size: 12px;

        text-align: center;
    }
    /* Parie about se trouvant sur la page d'accueil*/
    .about-container, .container-personel {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
    }

    .about-content h2, .container-personel h2 {
        font-size: 20px;
        color: black;
        margin: 0;
    }

    .about-content p, .container-personel p , .Nos_services p {
        font-size: 14px;
        font-family: 'Opensans';
        color: black;
        margin: 0;
        
    }
    .Nos_services h3{
        font-size: 18px;
        color: black;
    }

    .about-content a button {
        padding: 8px 16px;
        font-size: 14px;
        justify-items: center;
    }

    .personel-salon-img_gauche{
        padding: 10px;
        max-width: 100%;
        object-fit: contain;
        background-size: cover;
    }
        /* ------------NOS SERVIVES------------------ */

    .section-nosServices {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    section {
        padding: 15px;
    }

    .section-maquillage h4, .section-boutique h4, .section-coiffure h4, .carousel-column h3 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        text-align: justify;
    }

    img {
        max-width: 100%;
    }

    .buttons button, .about-content button {
        padding: 8px 16px;
        font-size: 12px;
        background-color: black;
       
    }

    /*----------NOUS CHOISIRE-------------------*/
    .NousChoisire {
        padding: 15px;
        margin: 10px;
    }

    .NousChoisire h3 {
        font-size: 18px;
        color: #000;
        text-align: center;
    }

    .NousChoisire ul li {
        font-size: 14px;
    }

    /*-------NOS REALISATIONS-------------*/
    .titreRealisation h3 {
        font-size: 20px;
    }

    .realisation {
        padding: 15px;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .realisation-images img {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .realisation p{
        font-size: 14px;
        text-align: justify;
    }

    .realisation-button button {
        font-size: 14px;
        padding: 8px 16px;
    }
    /* ---Avis de nos clients---- */

    .TitreAvis h3,.titreRealisation h3, .titreVisite h3 {
        font-size: 20px;
        color: black;
    }
    
    .avisClient p {
        font-size: 13px;
        text-align: justify;
    }

    /*------- Nous rendre visite-----*/
    .titreVisite h3 {
        font-size: 20px;
    }

    .adress p {
        font-size: 13px;
        margin: 0;
        padding: 0;
    }

    .adress a img{
        max-width: 100%;
        margin: 0;
    }
    .adress{
        margin: 0;
        
    }
     /*---------------BOUTON "LIRE LA SUITE"-------------------*/
     .Presentation_salon {
        max-width: 100%;
        margin: 0 auto;
    }

    /* Cache l'input checkbox */
    .read-more-check {
        display: none;
    }

    .presentation h3, .presentation_gauche h3{
        text-align: center;
        font-size: 20px;
        color: #000;
    }
    /* Cache le texte supplémentaire par défaut */
    .more-text {
        display: none;
    }

    /* Style du bouton "Lire la suite" */
    .read-more-btn {
        display: inline-block;
        cursor: pointer;
        margin-left: 120px;
    }

    /* Affiche le texte supplémentaire si la checkbox est cochée */
    .read-more-check:checked ~ #text .more-text {
        display: inline;
    }

    /* Change le texte du bouton en "Afficher moins" */
    .read-more-btn::before {
        content: "Lire la suite...";
    }

    .read-more-check:checked ~ .read-more-btn::before {
        content: "Afficher moins";
    }

    /*----------------------------------------------CARROUSEL-----------------------------------------*/
    .container {
        display: flex;
        flex-direction: column; /* Colonne en mobile */
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    /* Ajuster la hauteur et largeur des carrousels pour mieux s'adapter */
    .carousel-column {
        width: 100%; /* Occupe toute la largeur */
    }

    .carousel {
        width: 100%; /* pour s'assurer que le carrousel utilise toute la largeur de la colonne */
    }

    .carousel-inner {
        width: 100%; /* Toujours pour 3 diapositives */
    }

    .slide img{
        max-width: 100%;
        max-height: 100%; 
        object-fit: contain;
    }

    /* Réduire la taille des boutons de navigation et des points */
    .carousel-controls label {
        font-size: 12px;
        padding: 3px 8px;
    }

    .carousel-dots label {
        width: 8px;
        height: 8px;
    }
    .section-coiffure, .container, .carousel-column{
        padding: 0;
        margin: 0;
        margin-left: 0;
        margin-right: 0;
    } 
}

.souligner {
    text-decoration: underline; /* Applique un soulignement classique */
    text-decoration-thickness: 3px; /* Change l'épaisseur du soulignement */
}

/*--------Les infos legales----------------*/
.mention_legale{
 padding: 25px;
}

.mention_legale ul{
    margin: 20px;
    text-align: justify;
   }

.mention_legale p{
    font-size: 16px;
   }
.mention_legale h3{
    max-width: 100%;
    object-fit: cover;
    font-size: 18px;
   }
   .mention_legale h2{
    max-width: 100%;
    object-fit: cover;
    font-size: 20px;
    text-align: center;
   }
/*----------MEDIA QUERY POUR LE FORMAT ordinateur et pc potable------------------*/

@media screen and (min-width: 1060px) {
    .menu li a {
        font-size: 16px;
        flex-direction: column;
    }

    .bi-house, .bi-file-person-fill, .bi-tools, .bi-telephone-fill{
        margin-right: 10px;
    }
    
  /*--- empeche l'affichage du menu burger  et la croix de fermeture qaund l'ecran au format desktop--- */
    #openBtn, #closeBtn{
        display: none;
    }
    .burger{
        display: none;
    }
        /* ----------------Section About------------ */
    .about-section, .personel-salon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-section{
       padding: 0;
    }
    .about-container, .personel-salon {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
    }

    .about-image, .personel-salon-img {
        flex: 1 1 40%;
    }

    .about-image img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        padding-top: 20px;
    }

    .personel-salon_gauche{ 
        display: flex; 
        align-items: center; 
        justify-content: flex-start;   
        border-radius: 10px;
        object-fit: cover;
    }
    .personel-salon_gauche p{
        margin: 0;
        padding: 0;
    }

    .presentation_gauche p{
        font-size: 20px;
        font-family:'OpenSans';
        color: #333;
        margin-bottom: 30px;
        text-align: justify;
        max-width: 50%;
        margin: auto;
    }
    .personel-salon-img img {
        max-width: 70%;
        object-fit: cover;
        margin-bottom: 50px;
    }

    .personel-salon-img_gauche{
        margin-left: 200px;
    }

    .about-content, .presentation , .presentation_gauche{
        flex: 1 1 50%;
        text-align: center;
        padding: 0;
    }

    .about-content h2, .presentation h3,.presentation_gauche h3,   .contact-form h2 {
        font-size: 3rem;
        text-align: center;
        font-family: 'Roboto';
    }

    .about-content h2 span {
        font-family: 'Roboto';
        font-size: 3rem;
        color: black;
    }

    .about-content p, .Presentation_salon p, .contact-form p{
        font-size: 20px;
        font-family:'OpenSans';
        color: #333;
        margin-bottom: 30px;
        text-align: justify;
    }

    .Presentation_salon p{
        max-width: 90%;
        margin: auto;  
    }

     .presentation p {
        font-size: 20px;
        font-family:'OpenSans';
        color: #333;
        margin-bottom: 30px;
        text-align: justify;
        margin-left: 100px;
        max-width: 60%;
        margin: auto;
    }
    .presentation h3, .presentation_gauche h3{
        color: black;
    }
   
    .about-content button {
        background-color: black;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .about-content button:hover {
        background-color: #f4a723;
    }

    /* -------NOS SERVICES-------------- */

    .section-nosServices {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        margin: 40px;
        margin-bottom: 100px;
    }

    .section-nosServices .section-coiffure, .section-maquillage, .section-boutique {
        flex: 1 1 300px;
        border-radius: 10px;
        text-align: center;
        transition: transform 0.3s ease;
    }
    .section-coiffure h4, .section-maquillage h4,.section-boutique h4 {
        font-size: 30px;
    }
    .section-nosServices section:hover {
        transform: translateY(-5px);
    }
    .section-nosServices h3 {
        font-size: 2rem;
        margin-bottom: 15px;
        padding: 0px;
        margin: 0;
        font-family: 'Roboto';
    }
    .section-nosServices img {
        width: 90%;
        height: 60%;
        border-radius: 10px;
        object-fit: cover;
        transition: transform 0.3s ease;
        margin-left: 30px;
    }
    .section-nosServices p {
        font-size: 20px;
        color: #333;
        margin-bottom: 20px;
        text-align: justify;
        font-family: 'OpenSans';
        line-height: 1.8;
    }

    .section-nosServices .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .section-nosServices button {
        background-color: black;
        color: #fff;
        border: none;
        padding: 10px 15px;
        font-size: 1rem;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .section-nosServices button:hover {
        background-color: #f4a723;
    }

    /*---------------BOUTON "LIRE LA SUITE"-------------------*/
    .Presentation_salon {
        max-width: 100%;
        margin: 0 auto;
    }

    /* Cache l'input checkbox */
    .read-more-check {
        display: none;
    }

    /* Cache le texte supplémentaire par défaut */
    .more-text {
        display: none;
    }

    /* Style du bouton "Lire la suite" */
    .read-more-btn {
        display: inline-block;
        cursor: pointer;
        margin-left: 120px;
    }

    /* Affiche le texte supplémentaire si la checkbox est cochée */
    .read-more-check:checked ~ #text .more-text {
        display: inline;
    }

    /* Change le texte du bouton en "Afficher moins" */
    .read-more-btn::before {
        content: "Lire la suite...";
    }

    .read-more-check:checked ~ .read-more-btn::before {
        content: "Afficher moins";
    }

    /*---------Partie pourquoi nous choisire-----------*/

    .NousChoisire {
        padding: 30px;
        margin: 20px;
        margin-top: 80px;
    }

    .NousChoisire h3 {
        text-align: center;
        font-size: 2rem;
        font-family: 'Roboto';
        margin: 20px;
        padding: 20px;
    }

    .NousChoisire ul li {
        text-align: center;
        font-size: 20px;
        font-family: 'Opensans';
        line-height: 1.8;
        color: #333;
    }
    .NousChoisire ul{
        list-style: none;
    }

    /*  -----------------------NOS RESALSATION--------------- */

    .titreRealisation {
        text-align: center;
        margin-bottom: 10px;
    }

    .titreRealisation h3, .titreVisite h3, .TitreAvis h3, .NousChoisire h3 {
        font-size: 2rem;
        font-family: 'Roboto';
        margin: 0;
        text-align: center;
    }
    .realisation {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        border-radius: 10px;
    }

    /* Images Grid */

    .realisation-images , .section-nosServices {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width: 90%;
    }
    .realisation-images img{
        width: 80%;
        height: 80%;
        border-radius: 10px;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .realisation-images img:hover {
        transform: scale(1.05);
    }

    /* Paragraphe */
    .realisation p {
        font-size: 20px;
        font-family: 'Opensans';
        color: #333;
        line-height: 1.8;
        max-width: 95%; 
    }
    /* Bouton Voir Plus */
    .realisation-button button {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .realisation-button button:hover {
        background-color: #f4a723;
    }

    .avisClients-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        padding-left: 80px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
        margin-bottom: 20px;
        width: 100%;
        height:500px;
        object-fit: cover;
    }

}